.Control {
    .wrapper {
        position: relative;
        display: flex;
        padding: 14px 10px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 36px;
        color: white;

        &.error {
            input {
                opacity: 0;
                z-index: -1;
            }

            &.mouse-over {
                input {
                    opacity: 1;
                    z-index: 2;
                }

                .error-text {
                    opacity: 0;
                    z-index: -1;
                }
            }
        }

        .icon {
            display: none;
            justify-content: center;
            font-size: 2rem;
            width: 3rem;
            margin-right: 8px;
            margin-left: 8px;
            color: #ffffff55;
        }

        input {
            position: relative;
            flex-grow: 1;
            background: unset;
            border: none;
            box-shadow: none;
            outline: none;
            color: white;
            font-weight: 400;
            font-size: 1.3rem;
            z-index: 2;

            &::placeholder {
                color: #ffffff55;
            }

            &:focus{
                opacity: 1;
                z-index: 2;

                & + .error-text {
                    opacity: 0;
                    z-index: -1;
                }
            }
        }

        .error-text {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            text-transform: lowercase;
            width: calc(100% - 40px - 6px);
            height: calc(100% - 40px - 6px);
            padding: 20px;
            border-radius: 36px;
            box-sizing: content-box;
            border: 3px solid #A31114;
            color: #A31114;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 1.5rem;
            z-index: 2;
        }
    }
}

@media (min-width: 576px) {
    .Control {
        .wrapper {
            padding: 10px;

            .icon {
                margin-right: 9px;
                font-size: 3rem;
            }

            .text {
                font-size: 1.3rem;
            }

            input {
                font-size: 1.7rem;
            }

            .error-text {
                width: calc(100% - 30px - 6px);
                padding: 20px 20px 20px 10px;
            }
        }
    }
}

@media (min-width: 992px) {
    .Control {
        .wrapper {
            padding: 20px;

            .icon {
                margin-right: 20px;
            }

            input {
                font-weight: 700;
                font-size: 2rem;
            }

            .error-text {
                width: calc(100% - 40px - 6px);
                padding: 20px;
            }
        }
    }
}
